body {
  margin: 0;
  background: url('ba.jpg') no-repeat center center;
  background-size: cover;
  color: #ffffff;
  font-family: sans-serif;
  min-height: 100vh;
  font-family: serif;
  padding-bottom: 140px; /* space for bottom bar */
}

/* Bottom App Bar */
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  border-top: 2px solid #eee;
  background: #0a0a0a;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;     /* CREATES TOP GAP */
  box-sizing: border-box;
  z-index: 1000;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;              /* space between icon & text */
  cursor: pointer;
}

.nav-item i {
  font-size: 45px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-item span {
  font-size: 15px;
  font-weight: 600;
}
#do {
  color: chartreuse;
}
.nav-item i:hover {
  color: chartreuse;
}
.nav-item:hover {
  color: chartreuse;
}
.search {
  height: 6vh;
  border-radius: 6px;
  font-weight: 900;
  width: 85%;
  text-align: center;
  font-size: 35px;
}
.app {
  position: absolute;
  background: linear-gradient(135deg, #3abe10, yellow, red);
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
}
